*{margin:0;padding:0;}

* {
    box-sizing: border-box;
  }

:root {
    --rouge: #801D28;
    --noir:#0E1011;
    --gris:#E4E4E4;
    --blancgris: #F3F3F3;
}


body {
    background-color:var(--gris);
}

.btn {
    background-color: var(--noir);
    color: #FFF;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    
}

.btn a {
 text-decoration: none;
 color: #FFF;
}

h1, h2, label {
    font-family: 'Old Standard TT', serif;
}

p, h3, a , li{
    font-family: 'Noto Sans HK', sans-serif;
}

img {
    width: 100%;
    height: 100%;
}
.bloc_page{
    margin: auto;
    width: 960px;
    display: grid;
    grid-gap: 10px;
    background-color: #FFF;
}

header {
    background-color:var(--noir);
    height: 240px;
    
}

.logo {
    text-align: center;
    padding: 20px;
}

.logo img {
    height: 120px;
    width: 121px;
}
.main-nav {
    margin: 0 10px 0 10px;
}
.main-nav ul {
    display: grid;
    grid-gap: 5px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(6, 1fr);
}

.main-nav a {
    display:block;
    text-decoration: none;
    padding: 0.2rem;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
}

.main-nav a:hover {
    background-color: #801D28;
}

.bannier {
    background:url(../images/boutique-banniere.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    
  
}

.bannier h2 {
    text-align: center;
    font-size: 2rem;
}

.bannier p {
    text-align: justify;
    padding: 20px;
}

.first-section {
    display: grid;

}

.first-section h1 {
    text-align: center;
}

.presentation {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 10px;
    background-color: var(--blancgris);
}

.info {
    display: grid;
    width: 70%;
    margin: auto;
    padding: 10px;
    align-items: center;
    justify-items: center;
}



.info h2 {
    margin-bottom: 10px;
}
 
.info p{
    padding-bottom: 20px;
    text-align:justify;
}



.second-section {
    display: grid;
    grid-gap: 10px;
    text-align: center;
    padding: 10px;
}

.second-section h1 {
    margin-bottom: 10px;
}

.galerie_produit {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, minmax(100px,1fr));
}

.galerie_produit article {
    background-color: var(--blancgris);
    
}

.galerie_produit article:hover {
    background-color: var(--rouge);
    color: #FFF;
}

.galerie_produit h3 {
    padding-bottom: 10px;
    font-size: 0.8rem;
}

.galerie_produit img {
    width: 50%;
    padding: 10px;
}




/*------------footer ---------*/

footer {
    background-color: var(--noir);
    height: auto;
    padding: 10px;
    display: grid;
    grid-gap: 20px;
    grid-auto-rows:minmax(200px, auto) ;
    grid-template-columns: repeat(4, 1fr);
    color: #FFF;
}

.logo-footer {
    text-align: center;
    padding: 20px;
}

.logo-footer img {
    height: 120px;
    width: 121px;
}


.footer_nav h3 {
    padding-bottom: 20px;
}

.footer_nav ul {
    list-style-type: none;
}

.footer_nav li {
    padding-bottom: 10px;
}
 .footer_nav a {
  text-decoration: none;
  color: #FFF;

}
.societe h3 {
    margin-bottom: 20px;
}
.societe p{
   
   font-size: 0.8rem;
   text-align: justify;

   
}

.contact h3{
    margin-bottom: 20px;
}
.contact ul {
   list-style-type: none;
    
}
.contact li {
    padding-bottom: 10px;
}

.contact a {
    padding-right: 10px;
    text-decoration: none;
    color: #FFF;
}

.fab {
    color: #FFF;
    font-size: 1.5rem;
    
}



/*-----------------------footer*-----------------*/

footer {
    background-color: var(--noir);
    height: auto;
    padding: 10px;
    display: grid;
    grid-gap: 20px;
    grid-auto-rows:minmax(200px, auto) ;
    grid-template-columns: repeat(4, 1fr);
    color: #FFF;
}

.logo-footer {
    text-align: center;
    padding: 20px;
}

.logo-footer img {
    height: 120px;
    width: 121px;
}


.footer_nav h3 {
    padding-bottom: 20px;
}

.footer_nav ul {
    list-style-type: none;
}

.footer_nav li {
    padding-bottom: 10px;
}
 .footer_nav a {
  text-decoration: none;
  color: #FFF;

}

.footer_nav a:hover {
    background-color: #801D28;
}
.societe h3 {
    margin-bottom: 20px;
}
.societe p{
   
   font-size: 0.8rem;
   text-align: justify;

   
}

.contact h3{
    margin-bottom: 20px;
}
.contact ul {
   list-style-type: none;
    
}
.contact li {
    padding-bottom: 10px;
}

.contact a {
    padding-right: 10px;
    text-decoration: none;
    color: #FFF;
}

.fab {
    color: #FFF;
    font-size: 1.5rem;
    
}

/* ------------------- Responsive --------------------------*/

@media(max-width: 700px) {
    
    .bloc_page {
        width: 100%;
        margin: auto;
    }

    header {
        height: auto;
    }
    .main-nav ul {
        grid-template-columns: 1fr;
    }

    .presentation {
        grid-template-columns: 1fr;
    }

    .second-section h1 {
        font-size: 1.3rem;
    }

    .info h2 {
        text-align: center;
    }

    .galerie_produit {
        
        grid-template-columns: repeat( 1,minmax(100px, 1fr));
        
    }

    .galerie_produit h3 {
        text-align: center;
        font-size: 1rem;
    }

   
    .galerie_produit article {
        padding: 10px;
        border-bottom: 3px solid var(--noir);
    }

    .galerie_produit article:hover {
        color: #FFF;
        background-color: var(--rouge);
    }

    .galerie_produit img {
        width: 40%;
    }


    .logo-footer {
        border-bottom:1px solid #FFF;
    }



    footer {
        grid-template-columns: 1fr;

    }

    .footer_nav  {
        text-align: center;
        border-bottom: 1px solid #FFF;
        
    }



    .societe {
        border-bottom: 1px solid #FFF;
    }

    .societe h3 {
        text-align: center;
    }

    .societe p {
        font-size: 0.9rem;
        text-align: justify;
    }

    .contact {
        text-align: center;
    }

   
}